@media (max-width: 390px) {

    body{
        align-content: center;
    }

h1{
font-family: 'Futura';
font-size: 36px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;  
}

h2{
font-family: 'Futura Md BT';
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

h3{
font-family: 'Futura Md BT';
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
}

h4{
font-family: 'Futura Md BT';
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

h5{
font-family: 'Futura Bk BT';
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

h6{
font-family: 'Futura Bk BT';
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}

p{
font-family: 'Futura Bk BT';
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.p2{
font-family: 'Futura Bk BT';
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}

ul{
    list-style: none;

}

/* .menu{
  

}

.navBar{

}

.toggleButtons{

}

.aboutTwister{

}

.waterSched{

} */

/* .twisterCare{
background-color: #413b3e;
}
.twisterCare h2 h4 p{
    color: #fff;
} */

/* .tip{

}

.issues{

} */














}